<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fitness{% endblock %}</title>
      <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>

<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="{{ url_for('home')}}" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/fitness.jpg') }}" height="40px"alt="">
            </a>

            <button class="navbar-toggler" type="button"
                           data-toggle="collapse" data-target="#navbarResponsive"
                           aria-controls="navbarResponsive" aria-expanded="false"
                           aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('home') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('exercise') }}"  class="nav-link">Add new exercise</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
         {% for type, content in messages %}
          <div class="alert alert-{{ type }} alert-dissmissible my-4" role="alert">
            <button type="button"class="close"
                    data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                {{  content }}
          </div>
                {% endfor %}
            {%endif%}
         {% endwith %}
    {% block content %}{% endblock %}
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> 
    
    
    <div class="modal fade" id="firstTimeSignInModal" tabindex="-1" aria-labelledby="firstTimeSignInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="firstTimeSignInModalLabel">Sign In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/sign_in" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary" name="action" value="firstTimeSignIn">Sign On</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
  
  
</body>
</html>
