{% extends 'base.html' %}
{% set active_page = 'cycling' %}
{% block title %} CYCLING - {% endblock %}

{% block content %}
<div class="container">
    <h1>Calories Burned!</h1>
    <form method="POST" action="{{ url_for('cycling') }}">
        <div class="form-group">
          <label for="distance">Distance (in miles):</label>
          <input class="form-control"type="number" name="distance" step="0.01" placeholder="Enter distance" required>
        </div> 
        <div class="form-group">
          <label for="weight">Weight (in pounds):</label>
          <input class="form-control" type="text" id="weight" name="weight"><br>
        </div>                  
        <hr>
        <input class="btn btn-primary form-control" type="submit" value="Calculate Calories Burned">
    </form>
  {% if calories_burned is not none %}
  <div id="result">
    <p>Calories Burned: <span id="caloriesBurned">{{calories_burned}}</span></p>
  </div>
  {% endif %}    
</div>
{% endblock %}
