{% extends 'base.html' %}
{% set active_page = 'exercise.html' %}
{% block tile %}Add new exercise - {% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-7 offset-lg-2 my-5">
        <h1>Add new exercise</h1><hr>
        <form method="POST" action="{{ url_for('exercise')}}" enctype="multipart/form-data">
            <div class="form-group">
                <label style="color: rgb(208, 56, 56);">Title</label>
                <input class="form-control" type="text" name="title">
            </div>
            <div class="form-group">
                <label style="color: rgb(208, 56, 56);">Description</label>
            <textarea name="description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label style="color: rgb(208, 56, 56);">Image</label>
                <input type="file" name="image" id="image">
            </div>
            <hr>
            <input class="btn btn-primary form-control" type="submit" value="Submit">
        </form>
    </div>

</div>
{% endblock %}
