{% extends 'base.html' %}
{% set active_page = 'exercise.html' %}
{% from "_error_messages.html" import field_error_messages,error_messages %}
{% block tile %}Add new exercise - {% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-7 offset-lg-2 my-5">
        <h1>Add new exercise</h1><hr>
        <form method="POST" action="{{ url_for('exercise')}}" enctype="multipart/form-data">
             {{ form.hidden_tag()}}
             {{ error_messages(form.errors) }}
            <div class="form-group">    
                {{ form.title.label }}
                {{ form.title(class="form-control") }}
                {{ field_error_messages(form.title) }}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control", rows="3") }}
                {{ field_error_messages(form.description) }}
            </div>
            <div class="form-group">
                {{ form.image.label }}
                {{ form.image(class="form-control") }}
                {{ field_error_messages(form.image) }}
            </div>
            <!-- {% if form.image.data %}
                <img src="{{ url_for('static', filename='uploads/' + form.image.data.filename) }}" alt="Uploaded Image" style="max-width: 100%; height: auto;">
            {% else %}
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Image" style="max-width: 100%; height: auto;">
            {% endif %} -->
            <div class="form-group">
                {{ form.recaptcha }}
            </div>
            <hr>
                {{ form.submit(class="btn btn-primary form-control") }}
        </form>
    </div>

</div>
{% endblock %}
