{% extends 'base.html' %}
{% set active_page = 'home' %}
{% block content %}
  <div class="row">
    <div class="col-lg-3">
      <div class="my-4">
        <h1>My Fit Body</h1>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row my-5 card-wrapper">
        {% if fitness %}
        {% for item in fitness %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="card-img-top embed-responsive-item" src="{{ url_for('uploads', filename=item.image) }}" alt="Your Image">
            </div>            
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ url_for('item', item_id=item.id)}}">{{ item.title}}</a>
              </h4>
              <p class="card-text">{{ item.description | safe}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="offset-lg-3">No items to show</h1>
        {% endif %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="card-img-top embed-responsive-item" src="{{ url_for('static', filename='images/running.jpg')}}" alt="">
            </div>            
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ url_for('running') }}" class="nav-link" style="color:darkslateblue">Running</a>

              </h4>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="card-img-top embed-responsive-item" src="{{ url_for('static', filename='images/walking.jpg')}}" alt="">
            </div>            
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Walking</a>
              </h4>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="card-img-top embed-responsive-item" src="{{ url_for('static', filename='images/cycling.jpg')}}" alt="">
            </div>            
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Cycling</a>
              </h4>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>

      </div>
      <div class="row my-5 card-wrapper">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="card-img-top embed-responsive-item" src="{{ url_for('static', filename='images/pilates.jpg')}}" alt="">
            </div>            
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Pilates</a>
              </h4>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="card-img-top embed-responsive-item" src="{{ url_for('static', filename='images/yoga.jpg')}}" alt="">
            </div>            
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Yoga</a>
              </h4>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}

